.about#text-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1000px;
    
    width: 100%;


}

.about#text {
    height: 100%;
    font-size: 16pt;
    text-align: start;

    max-width: 500px;
}

.about#img-holder {

    border: 1px var(--accent-color) solid;
    box-shadow: 0 0 6px var(--accent-color-shadow);

    padding: 10px;

    margin: 0 50px;
}



.about.header {
    padding-bottom: 20px;
    padding-top: 40px;
}

.about.header-1 {
    padding-top: 0;
}

.about.header-2 {}

.about.header-3 {}