:root{
    --blink-animation: blink .8s infinite step-end;
    --default-hover-transition: color .7s ease ; 
}

@keyframes blink {

    from,
    to {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}
@keyframes visibility {
    from {
        transform: scaleY(0);
    }
    to{
        transform: scaleY(1);
    }
}