@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@0;1&display=swap');

:root {
    --background-color: #101010;
    --accent-color: #00bdff;
    --secondary-color: #0000ff5A;
    --default-hover: white;
    --default-text: white;
    --comment-color: gray;
    font-size: 18pt;
    --max-site-width: 1600px;
    --header-height: 2.25rem;
    --max-indentation: 200px;
    --max-content-width: calc(var(--max-site-width) - 2* var(--max-indentation));

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    --color-gradient: radial-gradient(circle, var(--secondary-color) 10%, var(--background-color) 100%);

    text-decoration: none;

    --swiper-theme-color: var(--accent-color);
    --swiper-theme-color-hover: white;

    --max-galery-width: var(--max-content-width);
    --max-galery-height: 600px;
}

.debug {
    outline: 1px solid red;
}


* {
    top: 0;
    margin: 0;
    padding: 0;
    font-family: 'Courier Prime', monospace;
}
.flex{
    display: flex;
}

.colored{
    color: var(--accent-color);
    transition: color .3s ease;
}
.comment{
    color: var(--comment-color);

}

span.cursive  {
    font-family: 'Courier Prime', monospace;
    font-style: italic;
}

.link {

    text-decoration: none;
    cursor: pointer;
    transition: var(--default-hover-transition);

    white-space: nowrap;
}

.link:hover {
    color: var(--default-hover);
}


.carret-blink-anim::after {
    content: "_";
    opacity: 0;
}

.carret-blink-anim:hover::after {
    color: var(--default-hover);
    opacity: 100%;
    animation: var(--blink-animation);
}
.indented{
    display: inline-block;
    padding-left: 100px;
    padding-right: 100px;
    width: fit-content;
}