@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');

:root {
    --background-color: #10101a;
    --text-color-dark-bg: rgb(245, 245, 245);
    --comment-text-color-dark-bg: rgb(139, 139, 139);
    --accent-color: rgb(34, 211, 34);
    --accent-color-shadow: rgb(104, 131, 59);

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    --color-gradient: radial-gradient(circle, var(--secondary-color) 10%, var(--background-color) 100%);



    --swiper-theme-color: var(--accent-color);
    --swiper-theme-color-hover: white;

    --max-galery-width: var(--max-content-width);
    --max-galery-height: 600px;


    font-size: 18pt;
}

.debug {
    outline: 1px solid red;
}

* {
    top: 0;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', serif;
    text-decoration: none;
    color: var(--text-color-dark-bg);
}

.link {
    position: relative;
    cursor: pointer;

    white-space: nowrap;
}

.link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: var(--accent-color);

    transform: scaleX(0);
    transition: transform 250ms;
}

.link:hover::after {
    transform-origin: center;
    transform: scaleX(1);
}



.section {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;


}

.section:first-child {
    padding-bottom: 1px;
}

.colored {
    color: var(--accent-color);
}